extends layout

block content
  h1= title
  p Welcome to #{title}
  p This is the web app for the Trailhead Developer Superbadge Apex Challenges. The following REST requests are supported.
  p
    pre GET /warehouse/getallequipment
  p 
